@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css');

$font-stack: 'Quicksand', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$background-color: #1f4e99;
$font-color: #ffffff;

body {
  font-family: $font-stack;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: $font-regular;
  color: $font-color;
}

h1 {
  font-weight: $font-bold;
  font-size: 3.25rem;
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  margin-bottom: -1.5rem;
  input {
    font-size: 1.25rem;
    border: transparent;
    height: 3rem;
    background: transparent;
    border-bottom: 1px solid $font-color;
    border-radius: none;
    margin-bottom: 2rem;
    color: $font-color;
    &:focus {
      outline: none;
    }
  }
  button {
    font-size: 1.5rem;
    height: 3rem;
    padding: none;
    background: transparent;
    border: none;
    color: $font-color;
    font-weight: 700;
  }
}
::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .current-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
      font-size: 10rem;
      margin-bottom: 2.35rem;
      margin-top: 2rem;
    }
    h2 {
      font-size: 1rem;
    }
    span {
      font-size: 1.75rem;
    }
    .temp {
      margin-bottom: 2rem;
    }
  }
}

#current-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show-five-day {
  display: none;
  border-radius: 5px;
  background-color: $font-color;
  border: none;
  padding: 0.5rem;
}

.five-day {
  display: flex;
  padding-bottom: 4rem;
  .high {
    font-weight: 500;
  }
  .days {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    .day {
      font-weight: 300;
    }
    .low {
      font-weight: 300;
    }
    .day {
      margin-right: 1rem;
    }
  }
}
